body {
  height: 100%;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@slowRotation: 5000ms;
@mediumRotation: 4000ms;
@fastRotation: 3000ms;

.rotation(@rotation) {
  -webkit-animation-name: spin;
  -webkit-animation-duration: @rotation;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: @rotation;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: @rotation;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: @rotation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.snow-item {
  position: fixed;
  &.small {
    width: 50px;
    height: 50px;
  }
  &.medium {
    width: 100px;
    height: 100px;
  }
  &.large {
    width: 150px;
    height: 150px;
  }

  &.bg-image-1 {
    background: url("../images/Snow_flake.svg") 0 0 no-repeat;
    background-size: contain;
  }

  &.bg-image-2 {
    background: url("../images/snowflake.svg") 0 0 no-repeat;
    background-size: contain;
  }

  &.slow-rotation {
    .rotation(@slowRotation);
  }
  &.medium-rotation {
    .rotation(@mediumRotation);
  }
  &.fast-rotation {
    .rotation(@fastRotation);
  }
}

.drop-item{
  position: fixed;
  &.small {
    width: 15px;
    height: 15px;
  }
  &.medium {
    width: 20px;
    height: 20px;
  }
  &.large {
    width: 25px;
    height: 25px;
  }

  &.bg-image-1 {
    background: url("../images/drop.jpg") 0 0 no-repeat;
    background-size: contain;
  }

  &.bg-image-2 {
    background: url("../images/drop.jpg") 0 0 no-repeat;
    background-size: contain;
  }
}

.btn-wrap {
  position: relative;
  top: 500px;
  text-align: center;
  .btn {
    border-radius: 8px;
    border: 1px solid #21A821;
    background: #66BF26;
    padding: 10px 15px;
    color: #fefefe;
  }
}
