body {
  height: 100%;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.snow-item {
  position: fixed;
}
.snow-item.small {
  width: 50px;
  height: 50px;
}
.snow-item.medium {
  width: 100px;
  height: 100px;
}
.snow-item.large {
  width: 150px;
  height: 150px;
}
.snow-item.bg-image-1 {
  background: url("../images/Snow_flake.svg") 0 0 no-repeat;
  background-size: contain;
}
.snow-item.bg-image-2 {
  background: url("../images/snowflake.svg") 0 0 no-repeat;
  background-size: contain;
}
.snow-item.slow-rotation {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 5000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 5000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.snow-item.medium-rotation {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.snow-item.fast-rotation {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 3000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 3000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.drop-item {
  position: fixed;
}
.drop-item.small {
  width: 15px;
  height: 15px;
}
.drop-item.medium {
  width: 20px;
  height: 20px;
}
.drop-item.large {
  width: 25px;
  height: 25px;
}
.drop-item.bg-image-1 {
  background: url("../images/drop.jpg") 0 0 no-repeat;
  background-size: contain;
}
.drop-item.bg-image-2 {
  background: url("../images/drop.jpg") 0 0 no-repeat;
  background-size: contain;
}
.btn-wrap {
  position: relative;
  top: 500px;
  text-align: center;
}
.btn-wrap .btn {
  border-radius: 8px;
  border: 1px solid #21A821;
  background: #66BF26;
  padding: 10px 15px;
  color: #fefefe;
}
